* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .images{
  Casa por fora: "https://i.ibb.co/LYzQvPw/IMG-7174.jpg"
  Piscinha: "https://i.ibb.co/4sJQ3vD/IMG-7201.jpg"
  Sala: "https://i.ibb.co/1mBBK3Y/IMG-7253.jpg"
  Banheiro: "https://i.ibb.co/tDqnKWj/IMG-7234.jpg"
  Sala: "https://i.ibb.co/C6mLSXm/IMG-7176.jpg"
} */

body {
  font-family: sans-serif;
  color: white;
  background-color: rgb(42, 42, 42);
}

section {
  align-items: center;
}

.header,
.divDescriLeft {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.img {
  background-image: url("https://i.ibb.co/4sJQ3vD/IMG-7201.jpg");
  height: 100vh;
  background-size: cover;
}

.titImovel {
  position: relative;
  display: grid;
  justify-content: flex-end;
  right: 1em;
  font-size: 2rem;
  transition: all 1s ease-in;
}

.titImovel p {
  font-size: 1.2rem;
  font-weight: lighter;
}

.strikeThrough {
  text-decoration: line-through;
}

.btnContato {
  position: fixed;
  display: grid;
  margin: 1em;
  z-index: 1;
}

.btnContato a {
  text-decoration: none;
  color: whitesmoke;
  padding: 1em;
  border: 3px solid white;
  border-radius: 5px;
  transition: all 0.1s ease-in;
  background: rgba(42, 42, 42, 0.8);
}

.btnContato a:hover {
  color: rgb(42, 42, 42);
  background-color: white;
}

/* PRIMEIRO SEÇÃO */

.divDescriRight {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: repeat(2, 50%);
}

.img-2 {
  background-image: url("https://i.ibb.co/1mBBK3Y/IMG-7253.jpg");
  height: 100vh;
  background-size: cover;
}

.fa-home,
.fa-bath,
.fa-couch {
  display: none;
}

.textoDescriRight,
.textoDescriLeft {
  display: grid;
  font-weight: lighter;
  font-size: 1.6rem;
  place-items: center;
  transition: all 1s ease-in;
}

/* SEGUNDA SEÇAO */

.img-3 {
  background-image: url("https://i.ibb.co/tDqnKWj/IMG-7234.jpg");
  height: 100vh;
  background-size: cover;
}

/* TERCEIRA SEÇAO */

.img-4 {
  background-image: url("https://i.ibb.co/C6mLSXm/IMG-7176.jpg");
  height: 100vh;
  background-size: cover;
}

/* VÍDEO */

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

iframe {
  width: 36%;
  height: 80%;
  transition: all 1s ease-in;
}

/* FOOTER */

.contato {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  color: rgb(42, 42, 42);
  height: 40vh;
}

.footerTexto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in;
}

.footerTexto h1 {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.footerTexto p {
  font-size: 1.6rem;
}
/* FORMULÁRIO */

.form h1 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(22, 22, 22);
  border-radius: 0.5em;
  padding: 1em;
  transition: all 0.1s ease-out;
}

.form:hover {
  background-color: rgba(12, 12, 12, 0.787);
}

.form label,
.form p {
  font-weight: bold;
  font-size: 1.2rem;
}

input {
  font-size: 1.2rem;
  outline: none;
  border: none;
  border-radius: 0.5em;
  padding: 0.75em 1em 0.75em 0;
  background-color: rgba(0, 0, 0, 0.452);
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}

.radio {
  height: 20px;
  width: 20px;
}

.checkbox {
  height: 15px;
  width: 15px;
}

.centro {
  display: flex;
  align-items: center;
  justify-content: center;
}

#enviar {
  display: flex;
  cursor: pointer;
  padding: 0.75em 1em 0.75em 1em;
  transition: all 0.2s ease-in;
}

#enviar:hover {
  background: white;
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 900px) {
  /* SEÇAO UM */
  .header {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .titImovel {
    height: 50vh;
    text-align: center;
    right: 0;
    grid-template-rows: 60% 40%;
  }
  .titImovel h1 {
    align-self: flex-end;
  }
  .img,
  .img-2,
  .img-3,
  .img-4 {
    width: 100vw;
    height: 40vh;
    border: 1em solid rgb(42, 42, 42);
    border-radius: 1.5em;
    background-size: repeat;
  }
  /* SEÇAO DOIS */
  .divDescriRight,
  .divDescriLeft,
  .contato {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
  }
  .textoDescriRight,
  .textoDescriLeft {
    text-align: center;
    width: 20ch;
    font-size: 1.3rem;
  }
  .fa-home,
  .fa-bath,
  .fa-couch {
    display: block;
    font-size: 2em;
    margin-bottom: 0.2em;
  }
  li {
    margin-bottom: 0.2em;
  }
  /* SEÇAO TRES */
  .img-3 {
    grid-row: 1/2;
  }
  /* VÍDEO */
  iframe {
    width: 90%;
    height: 52%;
  }
  /* FOOTER */
  .footerTexto h1 {
    text-align: center;
    font-size: 1.4rem;
  }
  .footerTexto p {
    text-align: center;
    font-size: 1.3rem;
  }
}
